::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0;
}
:root {
  --text-color: #48494e;
  // --heading: #090f32;
  --heading: #404455;
  --prime-one: #ff8c24;
  --prime-two: #ff733b;
  --prime-three: #6a45ff;
  --prime-four: #ffcd45;
  --prime-five: #007bff;
  --prime-six: #ffd338;
  --prime-seven: linear-gradient(-90deg, #ff7df2 0%, #ff275b 100%);
  --prime-eight: #ffed4e;
  --prime-nine: #ff1292;
  --prime-ten: #ff3294;
  --prime-eleven: #ffce4c;
  --prime-twelve: #ffe500;
}
::selection {
  background-color: #2a2a2a;
  color: #fff;
}

/*^^^^^^^^^^^^^^^^^^^^ Global Prefix ^^^^^^^^^^^^^^^^^^^^^*/
.main-page-wrapper {
  overflow-x: hidden;
}
body {
  font-family: "gordita";
  font-weight: normal;
  font-size: 16px;
  position: relative;
  color: var(--text-color);
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
}
.h1,
h1 {
  font-size: 80px;
  line-height: 1.18em; /*done*/
}
.h2,
h2 {
  font-size: 58px;
  line-height: 1.29em;
  letter-spacing: -1px; /*done*/
}
.h3,
h3 {
  font-size: 32px; /*done*/
}
.h4,
h4 {
  font-size: 24px;
  line-height: 1.54em; /*done*/
}
.h5,
h5 {
  font-size: 22px;
  line-height: 1.45em; /*done*/
}
.h6,
h6 {
  font-size: 18px; /*done*/
}
p {
  line-height: 1.87em;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
/*^^^^^^^^^^^^^^^^^^^^ Prefix Classes ^^^^^^^^^^^^^^^^^^^^^*/
.tran3s,
.svg path {
  transition: all 0.3s ease-in-out;
}
.tran4s {
  transition: all 0.4s ease-in-out;
}
.tran5s {
  transition: all 0.5s ease-in-out;
}
.tran6s {
  transition: all 0.6s ease-in-out;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fw-500 {
  font-weight: 500;
}
.p-30 {
  padding: 30px;
}
.font-recoleta {
  font-family: "Recoleta";
}
.text-lg {
  font-size: 24px;
  line-height: 1.67em;
}
.style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.shapes {
  position: absolute;
  z-index: -1;
}
.border-top {
  border-top: 1px solid #f1f1f1 !important;
}
.border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
}
/*^^^^^^^^^^^^^^^^^^^^ Scroll Top ^^^^^^^^^^^^^^^^^^^^^*/
.scroll-top {
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--primary);
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

/*=============================
	04. review
===============================*/
.review-area {
  background: var(--background-hero);
  // background: #ffffff;
  padding: 140px 0 140px;
}
.customer-review-wrapper {
  position: relative;
  overflow: hidden;
  height: 1080px;
}
.customer-review-wrapper::before,
.customer-review-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 62px;
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--background-hero) 0%,
    rgba(246, 245, 243, 0) 100%
  );
  z-index: 10;
}
.customer-review-wrapper::before {
  bottom: auto;
  top: 0;
  background: linear-gradient(
    180deg,
    var(--background-hero) 0%,
    rgba(246, 245, 243, 0) 100%
  );
}
.review-item-wrap {
  animation: friskTestimonialScroll 30s linear infinite;
  transition: all 0.5s ease-in;
  animation-duration: 30s;
}
.review-item-wrap:hover {
  animation-play-state: paused;
}
@keyframes friskTestimonialScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.review-item {
  background: var(--tg-white);
  padding: 40px 35px 25px;
  margin-bottom: 25px;
}
.review-item .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
}
.review-item .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.review-item .title span {
  font-family: var(--tg-body-font-family);
  font-weight: 400;
}
.review-item p {
  margin-bottom: 40px;
}
.review-item > span {
  color: rgba(10, 12, 0, 0.6);
  display: block;
  font-size: 18px;
  border-top: 1px solid #cececc;
  padding-top: 10px;
}

/*=============================
	04. review finished
===============================*/

.model-thumb {
  border-radius: 10px;
}
