::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0;
}

.main-page-wrapper {
  overflow-x: hidden;
}

:root {
  --text-color: #48494e;
  /* // --heading: #090f32; */
  --heading: #404455;
  --prime-one: #ff8c24;
  --prime-two: #ff733b;
  --prime-three: #6a45ff;
  --prime-four: #ffcd45;
  --prime-five: #007bff;
  --prime-six: #ffd338;
  --prime-seven: linear-gradient(-90deg, #ff7df2 0%, #ff275b 100%);
  --prime-eight: #ffed4e;
  --prime-nine: #ff1292;
  --prime-ten: #ff3294;
  --prime-eleven: #ffce4c;
  --prime-twelve: #ffe500;
}

body {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: 16px;
  position: relative;
  color: var(--text-color);
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
}

::selection {
  background-color: #2a2a2a;
  color: #fff;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.font-recoleta {
  font-family: "Recoleta";
}

.font-sans {
  font-family: var(--font-sans);
  /* font-family: "Recoleta"; */
  /* font-family: "DM_Sans"; */
}

/*=============================
	04. review
===============================*/
.review-area {
  background: var(--background-hero);
  /* // background: #ffffff; */
  padding: 140px 0 140px;
}
.customer-review-wrapper {
  position: relative;
  overflow: hidden;
  height: 1080px;
}
.customer-review-wrapper::before,
.customer-review-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 62px;
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--background-hero) 0%,
    rgba(246, 245, 243, 0) 100%
  );
  z-index: 10;
}
.customer-review-wrapper::before {
  bottom: auto;
  top: 0;
  background: linear-gradient(
    180deg,
    var(--background-hero) 0%,
    rgba(246, 245, 243, 0) 100%
  );
}
.review-item-wrap {
  animation: friskTestimonialScroll 30s linear infinite;
  transition: all 0.5s ease-in;
  animation-duration: 30s;
}
.review-item-wrap:hover {
  animation-play-state: paused;
}
@keyframes friskTestimonialScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.review-item {
  background: var(--tg-white);
  padding: 40px 35px 25px;
  margin-bottom: 25px;
}
.review-item .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
}
.review-item .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.review-item .title span {
  font-family: var(--tg-body-font-family);
  font-weight: 400;
}
.review-item p {
  margin-bottom: 40px;
}
.review-item > span {
  color: rgba(10, 12, 0, 0.6);
  display: block;
  font-size: 18px;
  border-top: 1px solid #cececc;
  padding-top: 10px;
}

/*=============================
      04. review finished
  ===============================*/

/*^^^^^^^^^^^^^^^^^^^^ Scroll Top ^^^^^^^^^^^^^^^^^^^^^*/
.scroll-top {
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--primary);
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

/*^^^^^^^^^^^^^^^^^^^^ Scroll Top Finished ^^^^^^^^^^^^^^^^^^^^^*/

.form-select:focus {
  box-shadow: none;
}
.cursor-pointer {
  cursor: pointer;
}
.slick-slide div {
  outline: none;
}
select:focus {
  outline: none;
}

select option {
  font-size: 15px;
}
/* masonry css */
.masonry-grid {
  display: flex;
  margin-left: -40px; /* adjust to match your grid gap */
  width: auto;
}

.masonry-grid-column {
  margin-left: 40px; /* adjust to match your grid gap */
  background-clip: padding-box;
}

@media (max-width: 768px) {
  .masonry-grid {
    margin-left: 0;
  }

  .masonry-grid-column {
    margin-left: 0;
  }
}

/* Responsive Part */

/* Review Section */
.review-item {
  padding: 30px 25px 25px;
}
.review-item .title {
  font-size: 18px;
  margin-bottom: 15px;
}
.review-item p {
  margin-bottom: 25px;
}
.review-area {
  padding: 100px 0 100px;
}

/* Add "no-scrollbar" class to hide scrollbar */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
